li {
    list-style: none;
    display: inline-block;
    font-size: x-large;
    white-space: 50px;
    

}
footer{
    padding-top: 300px;
    padding-left: 100px;
}
a{
    background-color:whitesmoke;
}
#box{
     
    border: 6px solid yellow;
    width: 300px;
    height: 250px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-left: 20px;
    
    letter-spacing: 20px;
    border-style: dotted;
    background-size: 200px;
color: lawngreen;
background-image: url(laptop.jpg);
background-repeat: no-repeat;
background-position: center;


    
}

#box:hover{
    background-color: red;
    background-image: unset;

}
p{
    text-transform: uppercase;
}